[global]
fsid = {{ ceph.fsid }}
mon_host = {{ ceph.mon_host }}
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
debug_rgw = 20

[client.radosgw.gateway]
keyring = /var/lib/ceph/radosgw/ceph-rgw/keyring
rgw socket path = /tmp/radosgw.sock
log file = /var/log/ceph/ceph-rgw-{{ namespace }}.log
rgw data = /var/lib/ceph/radosgw/ceph-rgw
rgw frontends = civetweb port={{ radosgw.port.cont }} num_threads=50

rgw keystone api version = 3
rgw keystone admin domain = default
rgw keystone admin project = admin
rgw keystone url = http://{{ address('keystone') }}:{{ keystone.admin_port.cont }}
rgw keystone accepted roles = Member, _member_, admin
rgw keystone revocation interval = 900
rgw s3 auth use keystone = true
#nss db path = /var/lib/ceph/radosgw/ceph-rgw.ccp/nss
rgw keystone verify ssl = false
rgw keystone admin user = admin
rgw keystone admin password = password

